<header id="zone">
    <a href="{{ path('app_home') }}" data-direction="left" id="a1" class="headera">
        <button id="b1" class="headerbutton"></button>
        <span id="s1" class="span"></span>
    </a>
    <a href="{{path('app_accueil_chantier')}}" id="a2" class="headera">
        <button id="b2" class="headerbutton"></button>
        <span id="s2" class="span"></span>
    </a>
    <a href="{{path('app_memoire_quartier')}}" id="a3" class="headera">
        <button id="b3" class="headerbutton"></button>
        <span id="s3" class="span"></span>
    </a>
    <a href="{{path('app_culture')}}" id="a4" class="headera">
        <button id="b4" class="headerbutton"></button>
        <span id="s4" class="span"></span>
    </a>
    <a href="{{path('app_co_habiter')}}" id="a5" class="headera">
        <button id="b5" class="headerbutton"></button>
        <span id="s5" class="span"></span>
    </a>
    <div id="hiddentext">
        <p id="ht1">
            Accueil
        </p>
        <p id="ht2">
            Chantier
        </p>
        <p id="ht3">
            Memoire
        </p>
        <p id="ht4">
            Co-habiter
        </p>
        <p id="ht5">
            Culture
        </p>
    </div>
</header>