{% extends 'base.html.twig' %}

{% block title %}Seuil
{% endblock %}

{% block body %}


	<div class="relative h-screen">
		<div class="w-70 absolute left-50 bottom-80 hover:scale-150 shadow-md/50 transition duration-450 ease-in-out" id="un">
			 <a href="{#{{ path('app_laboratoire') }}#}" data-direction="left"> 
				<div>
					<img class="size-full" src="{{asset('assets/img/biblioTemp.jpg')}}" alt="">
				</div>
				<p class="text-center">Laboratoire de la pensée</p>
			</a>
		</div>
		<div class="w-70 absolute right-140 bottom-20 hover:scale-150 shadow-md/50 transition duration-450 ease-in-out" id="deux">
			<a href="{{ path('app_accueil_chantier')}}" data-direction="bottom">
				<div>
					<img class="size-full" src="{{asset('assets/img/chantierTemp.png')}}" alt="">
				</div>
				<p class="text-center">Chantier</p>
			</a>
		</div>
		<div class="w-70 absolute right-40 top-20 hover:scale-150 shadow-md/50 transition duration-450 ease-in-out" id="trois">
			<a href="{{ path('app_atelier')}}" data-direction="right">
				<div >
					<img class="size-full" src="{{asset('assets/img/paletteTemp.png')}}" alt="">
				</div>
				<p class="text-center">Les Ateliers du Tiers-Inclus</p>
			</a>
		</div>
	</div>
<canvas id="canvas"></canvas>
{% endblock %}
