{% extends 'base.html.twig' %}

{% block title %}
{{ gastronomie.nom }}
{% endblock %}

{% block body %}

	<div class=" w-[70%] my-4 mx-auto ">

		
			<!-- TITRE -->
			<h1 class="text-5xl font-bold py-8 text-center mb-6">{{ gastronomie.nom }}</h1>

			<!-- INTRO -->
			<p class="text-justify mb-4 w-[80%] m-auto">
				{% for texte in gastronomie.contenu|filter(t => t.categorie == 'intro' or t.categorie == 'Intro' or t.categorie == 'Introduction' or t.categorie == 'introduction' or t.categorie == 'introducción' ) %}
					{% if texte.categorie == 'intro' %}
						{{ texte.contenu }}
					{% endif %}
				{% endfor %}
			</p>

			<!-- IMAGE PRINCIPALE -->
			{% set medias = gastronomie.mediaGastronomies|filter(m => m.lienSource) %}
			{% set mainImage = medias|first %}

			{% if mainImage %}
				<div class="w-[80%] m-auto ">
					<img src="{{ asset('uploads/media/' ~ mainImage.lienSource) }}">
				</div>
			{% endif %}

			<!-- MINIATURES -->
			<div class=" flex w-[80%] m-auto mt-4 gap-4 mb-4">
				{% for media in medias|slice(1,4) %}
					<div class="flex-1">
						<img class="w-full h-40 objet-cover" src="{{ asset('uploads/media/' ~ media.lienSource) }}">
					</div>
				{% endfor %}
			</div>

			<!-- chapitres  -->
			{% for texte in gastronomie.contenu|filter(t => t.categorie != 'intro' and t.categorie != 'conclu') %}
				<p class="text-justify mb-4 w-[80%] m-auto">
					{{ texte.contenu }}
				</p>
			{% endfor %}

			<!-- CONCLU  -->
			<p class="text-justify mb-4 w-[80%] m-auto">
				{% for texte in gastronomie.contenu|filter(t => t.categorie == 'conclu' or t.categorie == 'Conclu' or t.categorie == 'conclusion' or t.categorie == 'Conclusion' or t.categorie == 'concl' or t.categorie == 'conclusión' or t.categorie =='Concl' or t.categorie == 'Conclusión'  ) %}
					{% if texte.categorie == 'conclu' %}
						{{ texte.contenu }}
					{% endif %}
				{% endfor %}
			</p>


		

	</div>

{% endblock %}
